*{
   box-sizing: border-box;
    margin: 0;
    padding: 0; 
    
}

h1{
    text-align: center;
    font-size:3rem;
}
.posts{
    width: 100%;
    /* background-color: coral; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    /* border: 4px solid salmon; */
}

.post{
     
          /* for i want to see 4 col in big screen  */
    width: 23%;  
   
    margin: 0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    
    transition: all 0.5s;
    background-color: aquamarine;
    

}

.post:hover{
    

    margin: 0.1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 6px;
    
}

/* responsive adding */
@media screen and (max-width:992px) {
    .post{
        width: 48%;
    }
    
}
@media screen and (max-width:600px) {
    .post
{width: 100%;};
}